  /* RESPONSIVO */
  
  @media screen and (max-width: 480px) {
  
    /* HOME */
    header {
      width: 100%;
    }
    
    #logo {
      display: block;
      width: 50px;
      position: relative;
      margin: 0 auto;
      left: 0;
    }
  
    #navbar {
      display: none;
    }
  
    #title-container {
      min-width: 100%;
      margin-top: 20px;
    }
  
    #posts-container {
      margin-top: 20px;
    }
  
    .post-box {
      flex: 100% 1 0 ;
      padding: 15px;
      margin: 0;
    }
  
    /* POST */
    #post-container {
      grid-template-columns: 100%;
      padding: 15px;
      grid-template-areas: 
      "main"
      "sidebar";
    }
  
    .img-container img {
      width: 100%;
    }
  
  }